Repository Mixture-AI/meta-llama-explain, pull requests merged in 2024-05, with the labels that each got.

#14 [Generation] Add the comments for `Llama.generate` function in CN Version.
  llama/generation_cn_comment.py
Labels: [Generation]

#13 [Docs] Add `FairScale` CN version blog post.
  docs/CN/FairScale/ColumnParallel.png
  docs/CN/FairScale/ParallelEmbedding.png
  docs/CN/FairScale/README.md
  docs/CN/FairScale/RowParallel.png
  docs/CN/FairScale/RowParallelLinear.png
Labels: [Docs]

#16 [Generation] Add the explanation of why nucleus sampling can control the randomness of text generation.
  llama/generation.py
  llama/generation_cn_comment.py
Labels: [Generation]

#18 [Generation] Add the dual version explanation for text and chat completion.
  llama/generation.py
  llama/generation_cn_comment.py
Labels: [Generation], Work Item

#19 [Model] Transformer CN comment.
  llama/model_cn_comment.py
Labels: [Model], Work Item
